table {
    border-collapse: collapse;
    font-size: 0.8em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 400px;
    width: 100%;
}

table tr {
    background-color: #009578;
    color: #fff;
    text-align: center;

}

th, td {
    font-weight: normal;
    padding: 6px 12px;
}

tbody tr {
    border-bottom: 1px solid #ddd;

}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}